:root{
    --color-principal: rgb(205, 78, 78);
    --color-secundario: rgb(26, 90, 128);
    --color-body: rgb(171, 170, 170);

}



body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--color-body);
}


.header{
    display: flex;
    flex-direction: column;
    justify-content:  space-evenly;
    align-items: center;
    background-color: var(--color-principal);

}

.header_encabezado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.encabezado__img{
width: 100%;
height: 20rem;
}






.header_navegador{
    display: flex;
    background-color: var(--color-principal);
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.navegador__logo{
    width: 10rem;
}


.nav__ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10rem;
    
}


.navegador_busqueda{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    gap:0.5rem;
    
}

.busqueda__img{
    width: 30px;
    height: 30px;
}

.form__busqueda{
    border: none; 
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: box-shadow 0.3s ease; 
}


.ul__navegador{
    list-style-type: none;
    font-size: 1.2rem;
}


.main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 10rem;
    margin-bottom: 10rem;
}
.main_titulo{
    text-align: center;
    font-size: 2.5rem;
}

.main_secciones{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.secciones_section{
    background-color: var(--color-secundario);
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 2rem;
}

.section__parrafo{
    text-align: center;
    background-color: var(--color-secundario);
    color: white;
    width: 30%;
}
.section_compras{
    display: flex;
    justify-content: end;
}




.compras__megusta,.compras__carrito{
    width: 30px;
}



.section__img{
    width: 20rem;
}


.main-reseñas{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-reseñas_seccion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 2rem;
    gap:2rem;
}

.seccion__articulos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-secundario);
    width: 60%;
    border-radius: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}


.articulos__nombreusuario{
    font-size: 2rem;
}
.articulos__estrellas{
    width: 5rem;
}

.articulos__asunto{
    font-size: 2rem;
}

.articulos__opinion{
    font-size: 1.5rem;
}

.footer{
    display: flex;
    flex-direction: column;
    background-color: var(--color-principal);
    margin-top: 2rem;
}

.footer_img{
    width: 50px;
}