:root{
    --color-principal: rgb(26, 90, 128);
    --color-secundario: rgb(100, 129, 145);
    --color-body: rgb(199, 206, 207);

}


a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    color:black;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--color-body);
}


.header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:  space-evenly;
    align-items: center;

}

.header_encabezado{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--color-principal);
}

.encabezado__titulo{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 3rem;
}

.encabezado__logo{
    width: 10rem;
    height: 10rem;
}






.header_navegador{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-secundario);
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.navegador_nav{
    display: flex;
    flex-wrap: wrap;
}

.nav__ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10rem;
    
}


.navegador_busqueda{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    gap:0.5rem;
    
}

.busqueda__img{
    width: 30px;
    height: 30px;
}

.form__busqueda{
    border: none; 
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: box-shadow 0.3s ease; 
}

.navegador_login{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:1rem;
}

.login__icono{
    width: 30px;
    height: 30px;
}

.ul__navegador{
    list-style-type: none;
    font-size: 1.2rem;
}



.main{
    width: 100%;
}

.main_separador {
    border: 0;
    height: 2px; 
    margin: 20px 0; 
    background: linear-gradient(to right, transparent, var(--color-secundario), transparent);
}
.main_titulo{
 text-align: center;
 font-size: 2rem;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

.main_secciones{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}



.secciones_section{
    background-color: var(--color-secundario);
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 2rem;
}

.section__parrafo{
    text-align: center;
    background-color: var(--color-secundario);
    color: white;
    width: 30%;
}
.section_compras{
    display: flex;
    justify-content: end;
}

.main_reproductor{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
}

.main_carrusel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.carrusel_titulo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
}

.carrusel__imagenes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.imagenes__img{
     background-color: var(--color-secundario);
     gap: 3rem;
     padding-top: 1rem;
     padding-right: 1rem;
     padding-bottom: 1rem;
     padding-left: 1rem;
     box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
     border-radius: 2rem;
}

.img__disco{
    width: 10rem;
    height: 10rem;
    background-color: var(--color-secundario);
}


.compras__megusta,.compras__carrito{
    width: 30px;
}


.section__img{
    width: 20rem;
}




.main_reseñas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 2rem;
    gap:2rem;
}

.reseñas__destacadas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-secundario);
    width: 30rem;
    border-radius: 2rem;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.main_otrasreseñas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;

}

.otrasreseñas__titulo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
}
.otrasreseñas__articulos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-secundario);
    width: 30rem;
    border-radius: 2rem;
    padding-top:2rem;
    padding-left: 20rem;
    padding-right: 20rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.foto__usuario{
    width: 7rem;
    height: 7rem;
}
.articulos__nombreusuario{
    font-size: 1.5rem;
}
.articulos__estrellas{
    width: 3rem;
}

.articulos__asunto{
    font-size: 1.5rem;
}

.articulos__opinion{
    font-size: 1rem;
}

.main_formulario{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario__titulo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
}

.formulario__reseña{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secundario);
    padding: 5rem;
    border-radius: 2rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    gap:1rem;

}

.reseña__nombre,.reseña__correo,.reseña__escribir{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.nombre__pedirnombre,.correo__pedircorreo,.escribir__pedirreseña{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



.main_perfil{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:45rem;
    margin-right: 45rem;
    background-color: var(--color-secundario);
    padding: 5rem;
    border-radius: 2rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    gap:0.5rem;
    }


.perfil__tarjeta{
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.perfil__imagen{
    width: 13rem;
    height: 13rem;
}

.perfil__tiempousuario{
    font-size: 0.8rem;
}

.datos__titulo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.footer{
    display: flex;
    flex-direction: column;
    background-color: var(--color-principal);
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}


.footer_derechos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.derechos__logo{
    width: 6rem;
}
.footer_marcas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.marcas__imagenes{
    width: 9rem;
    height: 9rem;
}


#spotify{
    width: 19rem;
    height: 10rem;
}